<!DOCTYPE html>
<html>
  <head>
    <title>gifsocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "shared/fathom" %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <footer class="text-center mt-10">
      <a href="https://github.com/onerinas/gifsocial" target="_blank" class="text-gray-500 text-sm underline" onclick="window.fathom.trackEvent('github link');">It's open source!</a>
    </footer>
  </body>
</html>
